body {
    margin: 0;
    overflow-x: hidden;
}
#menu {
    width: --webkit-fill-available;
    box-shadow: 0px 4px 15px rgb(0, 0, 0, 0.5);
    display: flex;
    height: 50px;
    align-items: center;
}
#logo {
    margin-left: 30px;
}
.item {
    margin-left: 40px;
    font-size: 20px;
}
.item:hover {
    color: #3498db;
}
.intro {
    width: --webkit-fill-available;
    height: 60vh;
    display: flex;
    padding: 5vw;
    align-items: center;
}
.main-title {
    font-size: 72px;
}
.pitch {
    font-size: 36px;
}